# data stuff
data/
checkpoints/
results/
log.txt
pron_data/processed_tokens
tests/output/
multi/
processed/
*.png

# development stuff
env/
.vscode/

# python stuff
__pycache__/
.mypy_cache/
tts_data.egg-info/

# Terra stuff
*.out
.sh
production_results/
final_results/